.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.conteudo {
    text-align: center;
}
.logo_nome {
    display: flex;
    align-items: center;
}
header {
    height: 60px;
    background-color:thistle;
}
main{
    height: calc(100vh - 100px);
    flex: 1;
    background-color: thistle;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}
footer{
    display: flex;
    height: 25px;
    background-color: black;
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 30px;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 16px;
}