.logo {
    width: 50px;
    height: 50px;
}
nav {
    background-color:thistle;
}
main{
    background-color: thistle;
    text-align: center;
}
footer{
    background-color: black;
    text-align: center;
    color: white;
}
h1{
    font-size: 30px;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 16px;
}