.container_receitas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.painel_receita {
    width: 29%;
    margin: 20px;
    padding: 10px;
    background-color: lightpink;
}
.painel_receita img {
    max-width: 100%;
    height: auto;
}
.painel_receita h2 {
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center
}
.painel_receita h3 {
    font-size: 18px;
    margin-top: 20px;
    text-align: center
}
.painel_receita ul {
    margin-top: 10px;
    margin-bottom: 20px;
}
